$pink = #ec50fb;
$blue = #516fff;

.headband {
   display: none; 
}

.site-brand-container {
  background: linear-gradient(45deg, $pink, $blue);
}

.site-author-image {
  border: none;
}

.post-header .post-title-link::before {
  background: $purple
}

.btn:hover {
  border-color: $purple-light;
  color: #fff;
  background: $purple-light;
}